<div class="banner">
  <%= image_tag 'https://res.cloudinary.com/nicocapalbo/image/upload/v1615500499/c2_s6wgah.jpg' %>
</div>


<div class="CTA">
  <h1>Pandabize</h1>
  <h2>Discover new terrains, discover yourself</h2>
  <%= link_to 'Buy your bike', bikes_path, class: "btn btn-primary"%>
</div>