<div class="admin-bar">
  <% if policy(:bike).new? %>
    <%= link_to 'Create Bike', new_bike_path, class: "btn btn-primary" %>
  <% end %>
</div>



<div class="container">
  <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike) do %>
      <div class="container">
      <%= bike.name %>
      <%= bike.price %>
      </div>
    <% end %>
  <% end %>

  
</div>