<div class="container">
  <h1>Bikes#index</h1>
  <p>Find me in app/views/bikes/index.html.erb</p>


  <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike) do %>
      <div class="container">
      <%= bike.name %>
      <%= bike.price %>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'Create Bike', new_bike_path, class: "btn btn-primary" %>

</div>