<div class="container">
  <h1>Bikes#show</h1>
  <p>Find me in app/views/bikes/show.html.erb</p>
    <div class="d-flex"><p>Bike model: </p><%= @bike.name %></div>
    <div class="d-flex"><p>Price: $</p><%= @bike.price %></div>
    <p>Some awsome text about the awsome bike you are about to buy!</p>

    <% if @bike.disabled %>
      <p>Out of Stock</p>
    <% else %>
      <%= link_to 'Buy and customize your bike!', new_bike_order_path(@bike), class:"btn btn-primary" %>
    <% end %>
    <br>
    <%= link_to 'Back', :back, class:"btn btn-secondary"%>
</div>