h1 {
  font-size: 7rem;
  font-family: 'Work Sans';
  color: darkorange;
  // text-shadow: 2px 3px 0px #dc2c2c;
  margin: 0px;
}

h2 {
  font-size: 2rem;
  font-family: 'Work Sans';
  color: darkorange;
  margin-bottom: 20px;
}